@import "../../variable.scss";

.header {
	width: 100%;
	height: $height-header;
	background-color: $color-dark-500;
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	
	.left {
		width: 540px;

		.logo {
			width: 144px;
			height: 100%;
			display: flex;
			justify-self: center;
			align-items: center;
			margin-left: 160px;
			cursor: pointer;

			& > img {
				width: 110px;
			}
		}
	}

	.right {
		flex: 1 1 auto;
		padding-left: 80px;
		padding-right: 150px;
		display: flex;

		.list {
			height: 100%;
			display: flex;
			align-items: center;
			gap: 35px;

			&--item {
				color: #fff;
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;

				.label {
					font-size: 16px;
					font-weight: 300;
					line-height: 23px;
					letter-spacing: 0px;
					text-align: left;
				}
			}

			.icon {
				display: flex;
				align-items: center;
			}
		}

		.auth {
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			justify-content: end;
			cursor: pointer;

			.label {
				color: #fff;
				font-size: 16px;
				font-weight: 300;
				line-height: 23px;
			}
		}
	}
}