@import "../../variable.scss";

.footer {
	width: 100%;
	height: $height-footer;
	background-color: $color-dark-500;
	position: fixed;
	bottom: 0;

	.list {
		display: flex;
    height: 100%;
    align-items: center;
    padding-left: 160px;
    gap: 45px;

		&--item {
			font-size: 11px;
			font-weight: 300;
			line-height: 16px;
			text-align: left;
			color: #fff;
		}
	}
}